<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sharemyscreen.sharemyscreen" >
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sharemyscreen"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar" >

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <activity
            android:name=".SignIn.SignInActivity" android:label="@string/app_name" android:launchMode= "singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUp.SignUpActivity" android:label="@string/app_name" android:launchMode= "singleInstance" />
        <activity android:name=".Organization.OrganizationActivity" android:label="@string/app_name" android:launchMode= "singleInstance" />
        <activity android:name=".Settings.SettingsActivity" android:label="@string/settings" android:launchMode= "singleInstance" />
        <activity android:name=".RoomSettings.RoomSettingsActivity" android:launchMode= "singleInstance" />
        <activity android:name=".Profile.ProfileActivity" android:label="@string/navigation_profile" android:launchMode= "singleInstance" />
        <activity android:name=".LogOfflineActivity" android:label="@string/navigation_log" android:launchMode= "singleInstance" />
        <activity android:name=".MyActivityDrawer" android:launchMode= "singleInstance" />
        <activity android:name=".Members.MembersActivity" android:launchMode= "singleInstance" />

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <service android:name="sharemyscreen.sharemyscreen.Services.MyService" />
    </application>

</manifest>
